html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
}

.main-container {
  padding: 50px;
}

/* AUTH */
.sign-in-form {
  padding: 10px
}

.sign-in-checkbox {
  margin-top: 15px
}

.sign-in-button {
  margin-top: 20px
}

.sign-up-form {
  padding: 10px
}
.sign-up-button {
  margin-top: 20px
}
