html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
}

/* APP */
#app {
  padding: 0px;
}

/* DEFAULT LAYOUT */
.container {
  padding: 0px 8px;
  min-width: 270px;
}

.page-container {
  padding-bottom: 10px;
}

/* FORM */
.form {
  padding: 10px
}

.form-button {
  margin-top: 20px
}
