html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
}

/* APP */
#app {
  padding: 50px;
}

/* DEFAULT LAYOUT */
.container {
  padding: 0px 8px;
};

.app-toolbar {
  min-width: 300px;
};

.login-paper {
  min-width: 300px;
}

/* AUTH */
.sign-in-form {
  padding: 10px
}

.sign-in-checkbox {
  margin-top: 15px
}

.sign-in-button {
  margin-top: 20px
}

.sign-up-form {
  padding: 10px
}
.sign-up-button {
  margin-top: 20px
}
